<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>836990834777-nhs79nck3janool9o6pqdk4id1kv23av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836990834777-nhs79nck3janool9o6pqdk4id1kv23av</string>
	<key>API_KEY</key>
	<string>AIzaSyCcuSl6ToqS4uSJ_Wj0ITST6wGkgamxGps</string>
	<key>GCM_SENDER_ID</key>
	<string>836990834777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KrisValas.Prep-Me</string>
	<key>PROJECT_ID</key>
	<string>prep-me-b781d</string>
	<key>STORAGE_BUCKET</key>
	<string>prep-me-b781d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836990834777:ios:6ee2ab4fca9e2ea1</string>
	<key>DATABASE_URL</key>
	<string>https://prep-me-b781d.firebaseio.com</string>
</dict>
</plist>